Module 13:
Eliyahou Amsellem
Brian Livian
Mazal-Tov

# Introduction

The goal of this assignment is to migrate the tables from the Chinoock PostgreSQL database to a new MongoDB. Ultimately Python will be used to extract the data from MongoDB but only to be used in the format of a pandas dataframe that resembles the original tables from the Postgres database. 

Steps to Completion:



1.   Create AWS Server and Database (issues with Postgres previsouly)
2.   Open load the Chinook Database
3.   Connect Python Notebook to database
4.   Query the tables and save the results
5.   Create a function that turns query results into dataframe
6.   Change the format of the dataframe to bson
7. Create MongoDB account, cluster, and database
8.   Load the dataframes into the MongoDB
9.   Extract data from MongoDB and create dataframes similar to the tables Invoice and Customer

# PART 1

To extract data from pgAdmin and upload it to Mongo DB we had to take a few different steps. We first had to establish a connection with pgAdmin to access the chinook data. Then we used queries to extract only the Invoice and Customer tables' data. With that data in the form of a pandas dataframe we had to write a method that transformed our data into a BSON format to work with Mongo DB. Once properly formatted we made a connection with Mongo DB, created a database to upload our data, and uploaded the data into collections corresponding to the chinook tables'.

In [5]:
import pandas as pd
import psycopg2
import sqlalchemy
import matplotlib.pyplot as plt
#establish connection to pgAdmin so we can access chinook data
conn = psycopg2.connect(
    host="localhost",
    database="chinook",
    user="postgres",
    password="1015")

In [6]:
# Create a cursor object
cur = conn.cursor()

In [97]:
#start the connection and retreive the Inovice and Customer tables
#save the tables' data into pandas dataframe
curs = conn.cursor()
curs.execute("ROLLBACK")
conn.commit()
customerdf = pd.read_sql_query("""SELECT * FROM "Customer" """, conn)

cur.execute("""SELECT * FROM "Invoice" """)
invoicedf = pd.read_sql_query("""SELECT * FROM "Invoice" """, conn)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2009-01-06,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2009-01-11,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...
407,408,25,2013-12-05,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,2013-12-06,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,2013-12-09,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
410,411,44,2013-12-14,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
411,412,58,2013-12-22,"12,Community Centre",Delhi,None,India,110017,1.99

In [60]:
# convert dataframe to dict
customerdict = customerdf.to_dict()
invoicedict = invoicedf.to_dict()

In [61]:
# input columns of dataframes into lists
customercolumns= []
invoicecolumns = []
for column in customerdict:
    customercolumns.append(column)
for column in invoicedict:
    invoicecolumns.append(column)

In [62]:
# function to convert dictionaries into bson format for mongodb
# bson will be a list of dictionaries, each dictionary representing a row in the df
# function takes inputs of count, columnlist (customer/invoice), number of rows (to know when to stop the function), and dictionary (customer/invoice)
count = 0
bson = []
def function(count, columnlist, numofrows, dictionary):
    x = []
    # for each customer's value in key:value pair (count), append list x 
    # create a dictionary by zipping 'columnlist' key with 'x' value
    for i in columnlist:
        x.append(dictionary[i][count])
    bson.append(dict(zip(columnlist, x)))
    count = count + 1
    # continue algorithm for all rows in respective df
    if count < numofrows:
        function(count, columnlist, numofrows, dictionary)
    return bson

In [63]:
# run function with inputs for customer table
# reset 'bson' below, otherwise the list can be appended indefinitely
bson = []
customerbson = function(0, customercolumns, 59, customerdict)

# demonstrate function was successful by displaying length of list = number of rows in df
len(customerbson)

59

In [85]:
# same process for invoice
bson = []
invoicebson = function(0, invoicecolumns, 412, invoicedict)

# demonstrate function was successful by displaying length of list = number of rows in df
len(invoicebson)

412

In [74]:
import pymongo
from pymongo import MongoClient
#establish connection with mMongo DB
client = MongoClient()

In [75]:
#create AIM5001 database
db = client['AIM5001']
db = client.AIM5001
#Include Customer and Invoice documents
Customer = db["Customer"]
Invoice = db["Invoice"]

In [76]:
#insert data from BSON format of Customer table into mongo created document

for i in range(len(customerbson)):
    Customer.insert(customerbson[i])

<ipython-input-76-0ec29c4da0a7>:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  Customer.insert(customerbson[i])

In [77]:
#insert data from BSON format of Invoice table into mongo created documents

for i in range(len(invoicebson)):
    Invoice.insert(invoicebson[i])

<ipython-input-77-c76595034291>:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  Invoice.insert(invoicebson[i])

In [96]:
# get a list of databases on your local server
client.list_database_names()

['AIM5001', 'admin', 'config', 'local']

In [86]:
# retrieve + display all documents in a collection
#Put this here to verify the information was accurate and properly alligned
for document in Customer.find():
print (document)

{'_id': ObjectId('6085e3777db5a57f290c3cef'), 'CustomerId': 1, 'FirstName': 'Luís', 'LastName': 'Gonçalves', 'Company': 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Address': 'Av. Brigadeiro Faria Lima, 2170', 'City': 'São José dos Campos', 'State': 'SP', 'Country': 'Brazil', 'PostalCode': '12227-000', 'Phone': '+55 (12) 3923-5555', 'Fax': '+55 (12) 3923-5566', 'Email': 'luisg@embraer.com.br', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3cf0'), 'CustomerId': 2, 'FirstName': 'Leonie', 'LastName': 'Köhler', 'Company': None, 'Address': 'Theodor-Heuss-Straße 34', 'City': 'Stuttgart', 'State': None, 'Country': 'Germany', 'PostalCode': '70174', 'Phone': '+49 0711 2842222', 'Fax': None, 'Email': 'leonekohler@surfeu.de', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3cf1'), 'CustomerId': 3, 'FirstName': 'François', 'LastName': 'Tremblay', 'Company': None, 'Address': '1498 rue Bélanger', 'City': 'Montréal', 'State': 'QC', 'Country': 'Canada', 'PostalCode': 'H2G 1A7', 'Phone': '+1 (514) 721-4711', 'Fax': None, 'Email': 'ftremblay@gmail.com', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3cf2'), 'CustomerId': 4, 'FirstName': 'Bjørn', 'LastName': 'Hansen', 'Company': None, 'Address': 'Ullevålsveien 14', 'City': 'Oslo', 'State': None, 'Country': 'Norway', 'PostalCode': '0171', 'Phone': '+47 22 44 22 22', 'Fax': None, 'Email': 'bjorn.hansen@yahoo.no', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cf3'), 'CustomerId': 5, 'FirstName': 'František', 'LastName': 'Wichterlová', 'Company': 'JetBrains s.r.o.', 'Address': 'Klanova 9/506', 'City': 'Prague', 'State': None, 'Country': 'Czech Republic', 'PostalCode': '14700', 'Phone': '+420 2 4172 5555', 'Fax': '+420 2 4172 5555', 'Email': 'frantisekw@jetbrains.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cf4'), 'CustomerId': 6, 'FirstName': 'Helena', 'LastName': 'Holý', 'Company': None, 'Address': 'Rilská 3174/6', 'City': 'Prague', 'State': None, 'Country': 'Czech Republic', 'PostalCode': '14300', 'Phone': '+420 2 4177 0449', 'Fax': None, 'Email': 'hholy@gmail.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3cf5'), 'CustomerId': 7, 'FirstName': 'Astrid', 'LastName': 'Gruber', 'Company': None, 'Address': 'Rotenturmstraße 4, 1010 Innere Stadt', 'City': 'Vienne', 'State': None, 'Country': 'Austria', 'PostalCode': '1010', 'Phone': '+43 01 5134505', 'Fax': None, 'Email': 'astrid.gruber@apple.at', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3cf6'), 'CustomerId': 8, 'FirstName': 'Daan', 'LastName': 'Peeters', 'Company': None, 'Address': 'Grétrystraat 63', 'City': 'Brussels', 'State': None, 'Country': 'Belgium', 'PostalCode': '1000', 'Phone': '+32 02 219 03 03', 'Fax': None, 'Email': 'daan_peeters@apple.be', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cf7'), 'CustomerId': 9, 'FirstName': 'Kara', 'LastName': 'Nielsen', 'Company': None, 'Address': 'Sønder Boulevard 51', 'City': 'Copenhagen', 'State': None, 'Country': 'Denmark', 'PostalCode': '1720', 'Phone': '+453 3331 9991', 'Fax': None, 'Email': 'kara.nielsen@jubii.dk', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cf8'), 'CustomerId': 10, 'FirstName': 'Eduardo', 'LastName': 'Martins', 'Company': 'Woodstock Discos', 'Address': 'Rua Dr. Falcão Filho, 155', 'City': 'São Paulo', 'State': 'SP', 'Country': 'Brazil', 'PostalCode': '01007-010', 'Phone': '+55 (11) 3033-5446', 'Fax': '+55 (11) 3033-4564', 'Email': 'eduardo@woodstock.com.br', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cf9'), 'CustomerId': 11, 'FirstName': 'Alexandre', 'LastName': 'Rocha', 'Company': 'Banco do Brasil S.A.', 'Address': 'Av. Paulista, 2022', 'City': 'São Paulo', 'State': 'SP', 'Country': 'Brazil', 'PostalCode': '01310-200', 'Phone': '+55 (11) 3055-3278', 'Fax': '+55 (11) 3055-8131', 'Email': 'alero@uol.com.br', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3cfa'), 'CustomerId': 12, 'FirstName': 'Roberto', 'LastName': 'Almeida', 'Company': 'Riotur', 'Address': 'Praça Pio X, 119', 'City': 'Rio de Janeiro', 'State': 'RJ', 'Country': 'Brazil', 'PostalCode': '20040-020', 'Phone': '+55 (21) 2271-7000', 'Fax': '+55 (21) 2271-7070', 'Email': 'roberto.almeida@riotur.gov.br', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3cfb'), 'CustomerId': 13, 'FirstName': 'Fernanda', 'LastName': 'Ramos', 'Company': None, 'Address': 'Qe 7 Bloco G', 'City': 'Brasília', 'State': 'DF', 'Country': 'Brazil', 'PostalCode': '71020-677', 'Phone': '+55 (61) 3363-5547', 'Fax': '+55 (61) 3363-7855', 'Email': 'fernadaramos4@uol.com.br', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cfc'), 'CustomerId': 14, 'FirstName': 'Mark', 'LastName': 'Philips', 'Company': 'Telus', 'Address': '8210 111 ST NW', 'City': 'Edmonton', 'State': 'AB', 'Country': 'Canada', 'PostalCode': 'T6G 2C7', 'Phone': '+1 (780) 434-4554', 'Fax': '+1 (780) 434-5565', 'Email': 'mphilips12@shaw.ca', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3cfd'), 'CustomerId': 15, 'FirstName': 'Jennifer', 'LastName': 'Peterson', 'Company': 'Rogers Canada', 'Address': '700 W Pender Street', 'City': 'Vancouver', 'State': 'BC', 'Country': 'Canada', 'PostalCode': 'V6C 1G8', 'Phone': '+1 (604) 688-2255', 'Fax': '+1 (604) 688-8756', 'Email': 'jenniferp@rogers.ca', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3cfe'), 'CustomerId': 16, 'FirstName': 'Frank', 'LastName': 'Harris', 'Company': 'Google Inc.', 'Address': '1600 Amphitheatre Parkway', 'City': 'Mountain View', 'State': 'CA', 'Country': 'USA', 'PostalCode': '94043-1351', 'Phone': '+1 (650) 253-0000', 'Fax': '+1 (650) 253-0000', 'Email': 'fharris@google.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3cff'), 'CustomerId': 17, 'FirstName': 'Jack', 'LastName': 'Smith', 'Company': 'Microsoft Corporation', 'Address': '1 Microsoft Way', 'City': 'Redmond', 'State': 'WA', 'Country': 'USA', 'PostalCode': '98052-8300', 'Phone': '+1 (425) 882-8080', 'Fax': '+1 (425) 882-8081', 'Email': 'jacksmith@microsoft.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d00'), 'CustomerId': 18, 'FirstName': 'Michelle', 'LastName': 'Brooks', 'Company': None, 'Address': '627 Broadway', 'City': 'New York', 'State': 'NY', 'Country': 'USA', 'PostalCode': '10012-2612', 'Phone': '+1 (212) 221-3546', 'Fax': '+1 (212) 221-4679', 'Email': 'michelleb@aol.com', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d01'), 'CustomerId': 19, 'FirstName': 'Tim', 'LastName': 'Goyer', 'Company': 'Apple Inc.', 'Address': '1 Infinite Loop', 'City': 'Cupertino', 'State': 'CA', 'Country': 'USA', 'PostalCode': '95014', 'Phone': '+1 (408) 996-1010', 'Fax': '+1 (408) 996-1011', 'Email': 'tgoyer@apple.com', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d02'), 'CustomerId': 20, 'FirstName': 'Dan', 'LastName': 'Miller', 'Company': None, 'Address': '541 Del Medio Avenue', 'City': 'Mountain View', 'State': 'CA', 'Country': 'USA', 'PostalCode': '94040-111', 'Phone': '+1 (650) 644-3358', 'Fax': None, 'Email': 'dmiller@comcast.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d03'), 'CustomerId': 21, 'FirstName': 'Kathy', 'LastName': 'Chase', 'Company': None, 'Address': '801 W 4th Street', 'City': 'Reno', 'State': 'NV', 'Country': 'USA', 'PostalCode': '89503', 'Phone': '+1 (775) 223-7665', 'Fax': None, 'Email': 'kachase@hotmail.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d04'), 'CustomerId': 22, 'FirstName': 'Heather', 'LastName': 'Leacock', 'Company': None, 'Address': '120 S Orange Ave', 'City': 'Orlando', 'State': 'FL', 'Country': 'USA', 'PostalCode': '32801', 'Phone': '+1 (407) 999-7788', 'Fax': None, 'Email': 'hleacock@gmail.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d05'), 'CustomerId': 23, 'FirstName': 'John', 'LastName': 'Gordon', 'Company': None, 'Address': '69 Salem Street', 'City': 'Boston', 'State': 'MA', 'Country': 'USA', 'PostalCode': '2113', 'Phone': '+1 (617) 522-1333', 'Fax': None, 'Email': 'johngordon22@yahoo.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d06'), 'CustomerId': 24, 'FirstName': 'Frank', 'LastName': 'Ralston', 'Company': None, 'Address': '162 E Superior Street', 'City': 'Chicago', 'State': 'IL', 'Country': 'USA', 'PostalCode': '60611', 'Phone': '+1 (312) 332-3232', 'Fax': None, 'Email': 'fralston@gmail.com', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d07'), 'CustomerId': 25, 'FirstName': 'Victor', 'LastName': 'Stevens', 'Company': None, 'Address': '319 N. Frances Street', 'City': 'Madison', 'State': 'WI', 'Country': 'USA', 'PostalCode': '53703', 'Phone': '+1 (608) 257-0597', 'Fax': None, 'Email': 'vstevens@yahoo.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d08'), 'CustomerId': 26, 'FirstName': 'Richard', 'LastName': 'Cunningham', 'Company': None, 'Address': '2211 W Berry Street', 'City': 'Fort Worth', 'State': 'TX', 'Country': 'USA', 'PostalCode': '76110', 'Phone': '+1 (817) 924-7272', 'Fax': None, 'Email': 'ricunningham@hotmail.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d09'), 'CustomerId': 27, 'FirstName': 'Patrick', 'LastName': 'Gray', 'Company': None, 'Address': '1033 N Park Ave', 'City': 'Tucson', 'State': 'AZ', 'Country': 'USA', 'PostalCode': '85719', 'Phone': '+1 (520) 622-4200', 'Fax': None, 'Email': 'patrick.gray@aol.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d0a'), 'CustomerId': 28, 'FirstName': 'Julia', 'LastName': 'Barnett', 'Company': None, 'Address': '302 S 700 E', 'City': 'Salt Lake City', 'State': 'UT', 'Country': 'USA', 'PostalCode': '84102', 'Phone': '+1 (801) 531-7272', 'Fax': None, 'Email': 'jubarnett@gmail.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d0b'), 'CustomerId': 29, 'FirstName': 'Robert', 'LastName': 'Brown', 'Company': None, 'Address': '796 Dundas Street West', 'City': 'Toronto', 'State': 'ON', 'Country': 'Canada', 'PostalCode': 'M6J 1V1', 'Phone': '+1 (416) 363-8888', 'Fax': None, 'Email': 'robbrown@shaw.ca', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d0c'), 'CustomerId': 30, 'FirstName': 'Edward', 'LastName': 'Francis', 'Company': None, 'Address': '230 Elgin Street', 'City': 'Ottawa', 'State': 'ON', 'Country': 'Canada', 'PostalCode': 'K2P 1L7', 'Phone': '+1 (613) 234-3322', 'Fax': None, 'Email': 'edfrancis@yachoo.ca', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d0d'), 'CustomerId': 31, 'FirstName': 'Martha', 'LastName': 'Silk', 'Company': None, 'Address': '194A Chain Lake Drive', 'City': 'Halifax', 'State': 'NS', 'Country': 'Canada', 'PostalCode': 'B3S 1C5', 'Phone': '+1 (902) 450-0450', 'Fax': None, 'Email': 'marthasilk@gmail.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d0e'), 'CustomerId': 32, 'FirstName': 'Aaron', 'LastName': 'Mitchell', 'Company': None, 'Address': '696 Osborne Street', 'City': 'Winnipeg', 'State': 'MB', 'Country': 'Canada', 'PostalCode': 'R3L 2B9', 'Phone': '+1 (204) 452-6452', 'Fax': None, 'Email': 'aaronmitchell@yahoo.ca', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d0f'), 'CustomerId': 33, 'FirstName': 'Ellie', 'LastName': 'Sullivan', 'Company': None, 'Address': '5112 48 Street', 'City': 'Yellowknife', 'State': 'NT', 'Country': 'Canada', 'PostalCode': 'X1A 1N6', 'Phone': '+1 (867) 920-2233', 'Fax': None, 'Email': 'ellie.sullivan@shaw.ca', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d10'), 'CustomerId': 34, 'FirstName': 'João', 'LastName': 'Fernandes', 'Company': None, 'Address': 'Rua da Assunção 53', 'City': 'Lisbon', 'State': None, 'Country': 'Portugal', 'PostalCode': None, 'Phone': '+351 (213) 466-111', 'Fax': None, 'Email': 'jfernandes@yahoo.pt', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d11'), 'CustomerId': 35, 'FirstName': 'Madalena', 'LastName': 'Sampaio', 'Company': None, 'Address': 'Rua dos Campeões Europeus de Viena, 4350', 'City': 'Porto', 'State': None, 'Country': 'Portugal', 'PostalCode': None, 'Phone': '+351 (225) 022-448', 'Fax': None, 'Email': 'masampaio@sapo.pt', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d12'), 'CustomerId': 36, 'FirstName': 'Hannah', 'LastName': 'Schneider', 'Company': None, 'Address': 'Tauentzienstraße 8', 'City': 'Berlin', 'State': None, 'Country': 'Germany', 'PostalCode': '10789', 'Phone': '+49 030 26550280', 'Fax': None, 'Email': 'hannah.schneider@yahoo.de', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d13'), 'CustomerId': 37, 'FirstName': 'Fynn', 'LastName': 'Zimmermann', 'Company': None, 'Address': 'Berger Straße 10', 'City': 'Frankfurt', 'State': None, 'Country': 'Germany', 'PostalCode': '60316', 'Phone': '+49 069 40598889', 'Fax': None, 'Email': 'fzimmermann@yahoo.de', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d14'), 'CustomerId': 38, 'FirstName': 'Niklas', 'LastName': 'Schröder', 'Company': None, 'Address': 'Barbarossastraße 19', 'City': 'Berlin', 'State': None, 'Country': 'Germany', 'PostalCode': '10779', 'Phone': '+49 030 2141444', 'Fax': None, 'Email': 'nschroder@surfeu.de', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d15'), 'CustomerId': 39, 'FirstName': 'Camille', 'LastName': 'Bernard', 'Company': None, 'Address': '4, Rue Milton', 'City': 'Paris', 'State': None, 'Country': 'France', 'PostalCode': '75009', 'Phone': '+33 01 49 70 65 65', 'Fax': None, 'Email': 'camille.bernard@yahoo.fr', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d16'), 'CustomerId': 40, 'FirstName': 'Dominique', 'LastName': 'Lefebvre', 'Company': None, 'Address': '8, Rue Hanovre', 'City': 'Paris', 'State': None, 'Country': 'France', 'PostalCode': '75002', 'Phone': '+33 01 47 42 71 71', 'Fax': None, 'Email': 'dominiquelefebvre@gmail.com', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d17'), 'CustomerId': 41, 'FirstName': 'Marc', 'LastName': 'Dubois', 'Company': None, 'Address': '11, Place Bellecour', 'City': 'Lyon', 'State': None, 'Country': 'France', 'PostalCode': '69002', 'Phone': '+33 04 78 30 30 30', 'Fax': None, 'Email': 'marc.dubois@hotmail.com', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d18'), 'CustomerId': 42, 'FirstName': 'Wyatt', 'LastName': 'Girard', 'Company': None, 'Address': '9, Place Louis Barthou', 'City': 'Bordeaux', 'State': None, 'Country': 'France', 'PostalCode': '33000', 'Phone': '+33 05 56 96 96 96', 'Fax': None, 'Email': 'wyatt.girard@yahoo.fr', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d19'), 'CustomerId': 43, 'FirstName': 'Isabelle', 'LastName': 'Mercier', 'Company': None, 'Address': '68, Rue Jouvence', 'City': 'Dijon', 'State': None, 'Country': 'France', 'PostalCode': '21000', 'Phone': '+33 03 80 73 66 99', 'Fax': None, 'Email': 'isabelle_mercier@apple.fr', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d1a'), 'CustomerId': 44, 'FirstName': 'Terhi', 'LastName': 'Hämäläinen', 'Company': None, 'Address': 'Porthaninkatu 9', 'City': 'Helsinki', 'State': None, 'Country': 'Finland', 'PostalCode': '00530', 'Phone': '+358 09 870 2000', 'Fax': None, 'Email': 'terhi.hamalainen@apple.fi', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d1b'), 'CustomerId': 45, 'FirstName': 'Ladislav', 'LastName': 'Kovács', 'Company': None, 'Address': 'Erzsébet krt. 58.', 'City': 'Budapest', 'State': None, 'Country': 'Hungary', 'PostalCode': 'H-1073', 'Phone': None, 'Fax': None, 'Email': 'ladislav_kovacs@apple.hu', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d1c'), 'CustomerId': 46, 'FirstName': 'Hugh', 'LastName': "O'Reilly", 'Company': None, 'Address': '3 Chatham Street', 'City': 'Dublin', 'State': 'Dublin', 'Country': 'Ireland', 'PostalCode': None, 'Phone': '+353 01 6792424', 'Fax': None, 'Email': 'hughoreilly@apple.ie', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d1d'), 'CustomerId': 47, 'FirstName': 'Lucas', 'LastName': 'Mancini', 'Company': None, 'Address': 'Via Degli Scipioni, 43', 'City': 'Rome', 'State': 'RM', 'Country': 'Italy', 'PostalCode': '00192', 'Phone': '+39 06 39733434', 'Fax': None, 'Email': 'lucas.mancini@yahoo.it', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d1e'), 'CustomerId': 48, 'FirstName': 'Johannes', 'LastName': 'Van der Berg', 'Company': None, 'Address': 'Lijnbaansgracht 120bg', 'City': 'Amsterdam', 'State': 'VV', 'Country': 'Netherlands', 'PostalCode': '1016', 'Phone': '+31 020 6223130', 'Fax': None, 'Email': 'johavanderberg@yahoo.nl', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d1f'), 'CustomerId': 49, 'FirstName': 'Stanislaw', 'LastName': 'Wójcik', 'Company': None, 'Address': 'Ordynacka 10', 'City': 'Warsaw', 'State': None, 'Country': 'Poland', 'PostalCode': '00-358', 'Phone': '+48 22 828 37 39', 'Fax': None, 'Email': 'stanislaw.wójcik@wp.pl', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d20'), 'CustomerId': 50, 'FirstName': 'Enrique', 'LastName': 'Muñoz', 'Company': None, 'Address': 'C/ San Bernardo 85', 'City': 'Madrid', 'State': None, 'Country': 'Spain', 'PostalCode': '28015', 'Phone': '+34 914 454 454', 'Fax': None, 'Email': 'enrique_munoz@yahoo.es', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d21'), 'CustomerId': 51, 'FirstName': 'Joakim', 'LastName': 'Johansson', 'Company': None, 'Address': 'Celsiusg. 9', 'City': 'Stockholm', 'State': None, 'Country': 'Sweden', 'PostalCode': '11230', 'Phone': '+46 08-651 52 52', 'Fax': None, 'Email': 'joakim.johansson@yahoo.se', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d22'), 'CustomerId': 52, 'FirstName': 'Emma', 'LastName': 'Jones', 'Company': None, 'Address': '202 Hoxton Street', 'City': 'London', 'State': None, 'Country': 'United Kingdom', 'PostalCode': 'N1 5LH', 'Phone': '+44 020 7707 0707', 'Fax': None, 'Email': 'emma_jones@hotmail.com', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d23'), 'CustomerId': 53, 'FirstName': 'Phil', 'LastName': 'Hughes', 'Company': None, 'Address': '113 Lupus St', 'City': 'London', 'State': None, 'Country': 'United Kingdom', 'PostalCode': 'SW1V 3EN', 'Phone': '+44 020 7976 5722', 'Fax': None, 'Email': 'phil.hughes@gmail.com', 'SupportRepId': 3}
{'_id': ObjectId('6085e3777db5a57f290c3d24'), 'CustomerId': 54, 'FirstName': 'Steve', 'LastName': 'Murray', 'Company': None, 'Address': '110 Raeburn Pl', 'City': 'Edinburgh', 'State': None, 'Country': 'United Kingdom', 'PostalCode': 'EH4 1HH', 'Phone': '+44 0131 315 3300', 'Fax': None, 'Email': 'steve.murray@yahoo.uk', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d25'), 'CustomerId': 55, 'FirstName': 'Mark', 'LastName': 'Taylor', 'Company': None, 'Address': '421 Bourke Street', 'City': 'Sidney', 'State': 'NSW', 'Country': 'Australia', 'PostalCode': '2010', 'Phone': '+61 (02) 9332 3633', 'Fax': None, 'Email': 'mark.taylor@yahoo.au', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d26'), 'CustomerId': 56, 'FirstName': 'Diego', 'LastName': 'Gutiérrez', 'Company': None, 'Address': '307 Macacha Güemes', 'City': 'Buenos Aires', 'State': None, 'Country': 'Argentina', 'PostalCode': '1106', 'Phone': '+54 (0)11 4311 4333', 'Fax': None, 'Email': 'diego.gutierrez@yahoo.ar', 'SupportRepId': 4}
{'_id': ObjectId('6085e3777db5a57f290c3d27'), 'CustomerId': 57, 'FirstName': 'Luis', 'LastName': 'Rojas', 'Company': None, 'Address': 'Calle Lira, 198', 'City': 'Santiago', 'State': None, 'Country': 'Chile', 'PostalCode': None, 'Phone': '+56 (0)2 635 4444', 'Fax': None, 'Email': 'luisrojas@yahoo.cl', 'SupportRepId': 5}
{'_id': ObjectId('6085e3777db5a57f290c3d28'), 'CustomerId': 58, 'FirstName': 'Manoj', 'LastName': 'Pareek', 'Company': None, 'Address': '12,Community Centre', 'City': 'Delhi', 'State': None, 'Country': 'India', 'PostalCode': '110017', 'Phone': '+91 0124 39883988', 'Fax': None, 'Email': 'manoj.pareek@rediff.com', 'SupportRepId': 3}

# PART 2

This process was fairly simple and convenient. From within the Jupyter environment we establish a connection with Mongo DB. Once connected we describe which collection we would like to retrieve data from (AIM5001). Once we know what data we would like to extract we can upload it into a dataframe autonomously with pandas the dataframe method.

In [93]:
client = MongoClient()
#select database
newdb = client['AIM5001']
#select the collection within the database
test = newdb.Invoice
#convert entire collection to Pandas dataframe
Invoicedf = pd.DataFrame(list(test.find()))
Invoicedf

,_id,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,6085e3837db5a57f290c3d2a,1,2,2009-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,6085e3837db5a57f290c3d2b,2,4,2009-01-02,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,6085e3837db5a57f290c3d2c,3,8,2009-01-03,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,6085e3837db5a57f290c3d2d,4,14,2009-01-06,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,6085e3837db5a57f290c3d2e,5,23,2009-01-11,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...,...
407,6085e3837db5a57f290c3ec1,408,25,2013-12-05,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,6085e3837db5a57f290c3ec2,409,29,2013-12-06,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,6085e3837db5a57f290c3ec3,410,35,2013-12-09,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
410,6085e3837db5a57f290c3ec4,411,44,2013-12-14,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
411,6085e3837db5a57f290c3ec5,412,58,2013-12-22,"12,Community Centre",Delhi,None,India,110017,1.99

In [95]:
#select the collection within the database
test2 = newdb.Customer
#convert entire collection to Pandas dataframe
Customerdf = pd.DataFrame(list(test.find()))
Customerdf

,_id,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,6085e3837db5a57f290c3d2a,1,2,2009-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,6085e3837db5a57f290c3d2b,2,4,2009-01-02,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,6085e3837db5a57f290c3d2c,3,8,2009-01-03,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,6085e3837db5a57f290c3d2d,4,14,2009-01-06,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,6085e3837db5a57f290c3d2e,5,23,2009-01-11,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...,...
407,6085e3837db5a57f290c3ec1,408,25,2013-12-05,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,6085e3837db5a57f290c3ec2,409,29,2013-12-06,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,6085e3837db5a57f290c3ec3,410,35,2013-12-09,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
410,6085e3837db5a57f290c3ec4,411,44,2013-12-14,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
411,6085e3837db5a57f290c3ec5,412,58,2013-12-22,"12,Community Centre",Delhi,None,India,110017,1.99